.debtOrderDetails__container {
  min-height: calc(100vh + 70px);
  padding: 20px 10px;
  text-align: center;
  padding-bottom: 60px;
}
.debtOrderDetails__container h2 {
  margin-bottom: 20px;
  font-family: var(--font-1);
  letter-spacing: 2px;
  position: relative;
  background: var(--gradient-blue);
  color: var(--color-white);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.debtOrderDetails__container h2 span {
  position: absolute;
  left: 10px;
  top: 22px;
}
