.pedido__container {
  min-height: calc(100vh + 70px);
  padding: 20px 10px;
  text-align: center;
  padding-bottom: 60px;
}
.pedido__container h2 {
  font-family: var(--font-1);
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 30px;
}
.pedido__container h3 {
  font-family: var(--font-1);
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 5px;
}
.pedido__container h3 span {
  background-color: var(--color-pendiente);
  padding: 5px 10px;
  border-radius: 8px;
  color: #fff;
  text-shadow: 0 0 3px #111;
}
.pedido__container h3 span.pendiente {
  background-color: var(--color-pendiente);
}
.pedido__container h3 span.rechazado {
  background-color: var(--color-rechazado);
}
.pedido__container h3 span.entregado {
  background-color: var(--color-completado);
}
.pedido__card {
  border: 1px solid #ccc;
  padding: 15px 8px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #ddd, -3px -1px 5px #ddd;
  margin-bottom: 20px;
  background-color: white;
}
.pedido__card > div {
  border-top: 1px solid #ccc;
  padding: 8px 0;
}

.btn__estado {
  background-color: var(--color-red);
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 600;
}
.btn__volver {
  background-color: transparent;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-red);
  border: 2px solid var(--color-red);
  font-weight: 600;
  background-color: white;
}
#item_totalQuantity {
  border: 2px solid var(--color-red);
  border-radius: 50%;
  min-width: 35px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-red);
}

/* ---------------formulario cambiar estado------------ */

.orderMenu__container {
  width: 100%;
  background-color: var(--color-white);

  min-height: 89vh;
}
.orderMenu__container h2 {
  margin-bottom: 15px;
  font-family: var(--font-1);
  letter-spacing: 2px;
  position: relative;
}
.orderMenu__container h2 span {
  position: absolute;
  left: 0;
  top: 5px;
}
.orderMenu__card {
  border: 1px solid #ccc;
  padding: 15px 8px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #ddd, -3px -1px 5px #ddd;
  margin-bottom: 20px;
  background-color: white;
}

.orderMenu__container form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  margin-top: 14px;
}
.orderMenu__container form input {
  position: relative;
  padding: 8px;
}
.orderMenu__container form select {
  position: relative;
  padding: 8px;
}
.orderMenu__container form input[type="radio"] {
  accent-color: red;
}

.orderMenu__container form label input {
  margin-right: 5px;
}

.orderMenu__container form textarea {
  padding: 10px;
  font-size: 15px;
}
.orderDetail__label {
  font-size: 14px;
}
.unit__price {
  font-weight: 800;
}

.autocomplete-btn__container {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}
.autocomplete-btn__container div {
  flex: 1;
  height: 35px;
  color: green;
  border: none;
  border: 1px solid green;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
#autocomplete-btn-debt {
  color: red;
  border: none;
  border: 1px solid red;
}
.detail__title {
  margin-bottom: 15px;
  font-family: var(--font-1);
  letter-spacing: 2px;
  position: relative;
}
.detail__title span {
  position: absolute;
  left: 0;
  top: 5px;
}
.order__address {
  display: flex;
  gap: 3px;
}
.order__address img {
  width: 20px;
}
