.localization__container {
  min-height: 100vh;
  margin-bottom: 60px;
  width: 100%;
}
.localization__map {
  height: 65vh;
  width: 100%;
}
.localization__detail {
  padding: 15px 10px;
}
.localization__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.localization__row img {
  width: 35px;
}
.localization__text-grey {
  color: #7b7b7b;
}
.localization__distance {
  background-color: var(--color-red);
  color: white;
  padding: 1px 3px;
  border-radius: 5px;
}
.localization__time {
  background-color: #7b7b7b;
  color: white;
  padding: 1px 3px;
  border-radius: 5px;
}

.btn__back {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: var(--color-red);
  color: white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  z-index: 20;
  font-size: 30px;
}
