.home__main__container {
  min-height: calc(100vh + 20px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 20px 10px;
  background-color: #f1f1f1;
}
.home__card__wrapper {
  border-radius: 15px;
  box-shadow: 3px 3px 5px #ccc, -3px -1px 5px #ccc;
  padding: 15px;
  position: relative;
  height: 120px;
  width: 100%;
  background-color: white;
}
.home__main__resume {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  box-shadow: 3px 3px 5px #ccc, -3px -1px 5px #ccc;
  padding: 15px;
  background-color: white;
}
.home__main__resume h3 {
  margin-bottom: 8px;
}
.home__main__row {
  display: flex;
  justify-content: space-between;
}

.home__main__container a {
  display: block;
  width: 50%;
  flex: 1;
  text-decoration: none;
}
.home__card__wrapper h3 {
  font-size: 22px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  color: var(--color-black);
  margin-top: 50px;
  letter-spacing: 3px;
}
.orders {
  background-color: #158dbc;
  border-radius: 20px;
  padding: 5px;
  color: rgb(242, 243, 244);
  font-size: 30px;
  font-weight: 800;
  display: inline-block;
  width: 80%;
  height: 60px;
  text-shadow: 0 0 2px rgb(41, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  box-shadow: 3px 3px 5px #ccc, -3px -1px 5px #ccc;
}
.home__card__wrapper h3 svg {
  position: relative;
  font-size: 35px;
}
.total_orders {
  background-color: #158dbc;
}
.delivered_orders {
  background-color: #37b00b;
}
.pending_orders {
  background-color: #ddd613;
}
.refused_orders {
  background-color: #dd132b;
}
