.todos__container{
    min-height: 100vh;
    text-align: center;
    padding: 20px 10px;
}
.todos__container h2{
    margin-bottom: 15px;
    font-family: var(--font-1);
    letter-spacing: 2px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.col{
    flex-direction: column;
    *text-align: left;
    border: 1px solid #ccc;
    padding: 10px 2px;
}
.col-1{
    flex: 1;
}
.col-2{
    flex: 2;
}
.col-3{
    flex: 3;
}
.title{
    font-size: 18px;
    font-weight: 600;
}
.btn-estado{
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

.order__card__container{
    box-shadow: 3px 3px 5px rgba(102, 102, 102, 0.704), -3px -1px 5px rgba(102, 102, 102, 0.714);
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.order__status-circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: yellow;
    display: inline-block;
    border: 1px solid var(--color-black);
}

